<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGridThemes" version="1.0.0" targetFramework="net472" />
  <package id="MultiSelectTreeView" version="1.0.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PropertyTools" version="3.1.0" targetFramework="net472" />
  <package id="PropertyTools.Magic" version="0.0.1" targetFramework="net472" />
  <package id="PropertyTools.Wpf" version="3.1.0" targetFramework="net472" />
  <package id="PropertyTools.Wpf.Magic" version="0.0.4" targetFramework="net472" />
</packages>